body{
    /* background-color: darkcyan; */
}

.im {
    border-radius: 40px;
}

.ah {
    border:10px solid rgb(18, 10, 26);
    width: 95%;
    background-image:linear-gradient(to right, blue, red);
    margin-top: 70px;
}

strong{
    /* position:sticky; */
    left: 50%;
    border-radius: 40px;
}

strong:hover{
    background-color: aqua;
}

li {
    display:inline; 
    background-color: rgb(95, 165, 165);
    border-radius: 30px;
    margin:7px;
    padding: 4px;
    text-align: center;
    position: sticky;
    bottom: 15px;
    right: 40px;
    
}

li:hover{
    background-color: aqua;
    font-size: larger;
}




 .lo {
    text-align: right;
    background-color: blueviolet;
    border-radius: 90%;
    width:45px ;
 }

a {
    text-align: center;
    display:block;
    padding: 4px;
    margin: 3px 2px;
     border: 25px;
    border-radius: 350% 100%;
    color:blue;
    background-color: dimgrey;
    /* width: 80px; */
    /* text-decoration:double; */
    /* cursor:grab; */
}



a:link {
background-color: bisque;
}

a:visited {
    background-color: brown;
}

a:hover{
    background-color: rgb(137, 137, 185);
}

a:focus {
    background-color: aqua;             
}

input:focus{
    background-color: yellowgreen;
}

.table-data:hover{
    background-color: black;
}

.link{
    display: grid;
    border: 5px;
}

@media (max-width: 500px){
    p{color:brown;
     font-size: 40px;}
}
    
p{
    font-family: cursive;
    font-size: 30px;
}
figure div{
    border: solid 2px #e7e0e0;
    width: fit-content;
    float: right;
    padding: 5px 20px;
    color: #d4e7cb;
    font-size: 16px; 
}

figure div:hover{
    font-size: larger;
    color: #fff;
    background-color: rgb(245, 6, 53);
    transform:matrix3d(56px);
    transition: 1.5s all;
}

 .table-data
{
    width: 100%;
    text-align: center;
}
.table-data,.table-data td,.table-data th{
    border: solid 1px #fff;
        border-collapse: collapse;
}
.information{
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
    flex-direction: row-reverse;
}