body{
    background-image:linear-gradient(rgb(11, 221, 236) , rgb(12, 79, 95)) ;
    min-height: 800px;
    display: flex;
    flex-wrap: wrap;
}

p,h1{
    text-shadow: 500px;
}


section{
    font-size: larger;
    background-color: aliceblue;
    color: rgb(9, 9, 10);
    width: 400px;
    height: 350px;
    
    border: solid 4px burlywood;
    border-radius: 30px;
    margin: 200px auto 0 auto;
    position: relative;
/* height of section */
    transition: all 1s;

}

   

section:hover{
    height: 530px;
}
  

.container{
    position: absolute;
    bottom: 0;
    padding: 15px;
    text-align: center;
    opacity: 0;
    /* appearance of text  */
    transition: all 1s;
}

section:hover .container{
   opacity: 1;
}


img{
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50px;
    top: -30px;
    /* time of circle */
    transition: 1s all;
}

section:hover img{
    top: -100px;
    transform: rotate(720deg);
    border-radius: 50%;

}

